a {
    text-decoration: none;
}

@font-face {
    font-family: 'Silkscreen';
    src: url(silkscreen/slkscr.ttf);
}

body{
    font-family: Silkscreen;
    background-color: #fdfdfd;
}

footer{
    position: absolute;
    bottom:0;
    right: 0;
    font-size: 2vw;
}

.background-container{
    /*Div Settings */
    position:fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;

    /*Background-image settings */
    background-image: url(BACKGROUND_IMAGE/tsed_lightmode_portrait.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/*mobile landscape view adjustments*/
@media (orientation:landscape){
    br{
        display: none;
    }
    .background-container{
        background-image: url(BACKGROUND_IMAGE/tsed_lightmode_landscape.gif);
    }
    footer{
        font-size: 2vh;
    }
}

/* desktop landscape view adjustments*/
@media (min-width:1280px) and (orientation:landscape){
    .background-container{
        background-size: 70% 85%;
    }
    footer{
        font-size: 2vh;
    }
}





