a{
    text-decoration: none;
}

.background{

    text-align: center;
    position: relative;
}

.background picture > *{
    max-width: 95dvw;
    max-height: 95dvh;
}

.link-container{
    border: 1px solid green;
    position: absolute;
    top: calc(10vw + 10vh);
    margin-left: 35%;
    margin-right: 35%;
}

.link-container img{
    border: 1px solid #000;
    border-color: red;
    width: 55%;
    height: auto;
}

@media (orientation:landscape){
    br{
        display:none;
    }
    .link-container{
        margin-left: 10%;
        margin-right: 10%;        
    }
    .link-container img{
        width: 20%;
        height: auto;
    }
}







