.background{
    width:100%;
    text-align: center;
    position: relative;
}
.background img{
    max-width: 100%;
    height: auto;
}

.link-container{
    position: absolute;
    top: (11.3488vw + 11.3488vh);
    right: calc(.56744vw + .56744vh);
}
.link-container img{
    max-width: 20%;
    max-height: auto;
}
